.usage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ustaw wysokość na 100vh */
    background-color: #f9f9f9; /* Jasne tło */
    padding: 40px;
    text-align: center; /* Wyśrodkowanie tekstu */
    color: #333; /* Kolor tekstu */
    font-family: 'Arial', sans-serif; /* Użycie nowoczesnej czcionki */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Cień dla głębi */
  }
  
  .usage h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff; /* Kolor nagłówka */
  }
  
  .usage p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6; /* Wysokość linii dla lepszej czytelności */
  }
  
  .usage ol, .usage ul {
    text-align: left; /* Wyrównanie tekstu do lewej */
    margin: 0 auto; /* Wyśrodkowanie listy */
    padding: 0;
  }
  
  .usage li {
    font-size: 1.1rem;
    margin: 10px 0; /* Odstęp między elementami listy */
  }