.usage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #edede9;
  padding: 40px;
  text-align: center;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.usageContainer {
  width: 90%;
}

.usage h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #007bff;
}

.usage p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.usageOl {
  width: 70%;
}

.usage ol,
.usage ul {
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

.usage li {
  font-size: 1.1rem;
  margin: 10px 0;
  list-style: none;
}

.usageBottomPart {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.usageGif {
  width: 35vw;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usageMiddlePart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
}

.usageMiddleRightPart {
  display: flex;
  flex-direction: column;
}

.usageMiddleRightPartTitle {
  margin-top: 4vh;
  display: flex;
  align-items: flex-start;
}

.usageBottomPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12vh;
}