.navbar {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    padding: 1rem 2rem;
}

.navbarWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.navbarIconImg {
    width: 35px;
    height: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarTitle {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.navbarRightPart {
    display: flex;
    align-items: center;
}

.navbarItem {
    color: white;
    margin-left: 2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.navbarItem:hover {
    color: #e0e0e0;
}